.foreground {
	height: 12500px;
	overflow-x: clip;

	.submarine-container {
		display: flex;
		justify-content: center;
		height: 100%;
		width: 100%;

		.submarine {
			margin-top: 800px;
			height: 200px;
			width: auto;
			top: 100px;
			position: sticky;
			animation: sway 3.5s ease-in-out forwards infinite;
			background-color: none; // none to white at lower depths
			padding: 10px;
		}

		.submarine-lights {
			width: 200px;
			border-radius: 100px;
			height: 200px;
			background-color: white;
			box-shadow: 0px 0px 100px 120px white; // 0px to 0px 0px 50px 60px at lower depths
			top: 125px;
			transform: scale(1.5, 1) translateX(60px);
			position: sticky;
			margin: auto;
			z-index: -1;
		}

		.text-container {
			position: sticky;
			top: 280px;
			margin-top: -225px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h2 {
				margin: 0;
				color: white;
				font-size: 50px;
				text-align: center;
				animation: sway 3.5s ease-in-out forwards infinite;
			}
			p {
				margin: 0;
				color: white;

				max-width: 200px;
				text-align: center;
				animation: sway 3.5s ease-in-out forwards infinite;
			}
		}
	}

	@keyframes sway {
		0% {
			transform: rotate(2deg);
		}
		50% {
			transform: rotate(-2deg);
		}
		100% {
			transform: rotate(2deg);
		}
	}
}
